<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
                <h1 class="name">{{site.name}}</h1>
                <h3 class="tagline">{{site.tagline}}</h3>
            </div><!--//profile-container-->

            <div class="education-container container-block" id="dates">
                <h2 class="container-block-title">Important Dates</h2>

                <div class="item">
                    <h4 class="degree">Registration starts</h4>
                    <h5 class="meta">May 1st</h5>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">Challenge starts</h4>
                    <h5 class="meta">Training and validation datasets released</h5>
                    <h5 class="meta">June 19th</h5>
                    </br>
                    <h5 class="meta">Testing datasets released </h5>
                    <h5 class = "meta">September 8th</h5>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">Evaluation servers go live</h4>
                    <h5 class="meta">June 23rd</h5>
                </div><!--//item-->

                <div class="item">
                    <h4 class="degree">Final submission</h4>
                    <h5 class="meta">September 29th</h5>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">Winners notified</h4>
                    <h5 class="meta">October 13th</h5>
                </div><!--//item-->

            </div><!--//dates-->
            
            <div class="education-container container-block" style="background: rgba(0, 0, 50, 0.3);" id='reg'>
                
                <h2 class="container-block-title">Quick Links</h2>

                <div class="item">
                    <h4 class="degree"><a href = "https://github.com/VisionLearningGroup/taskcv-2017-public">Github Repository</a></h4>
                    <h5 class = "meta">Datasets, DevKit</h5>
                </div>
              
                <div class="item">
                    <h4 class="degree"><a href = "https://competitions.codalab.org/">CodaLab</a></h4>
                    <h5 class = "meta">Evaluation Server</h5>
                </div>  

            </div>

            <div class="profile-container">

                <h2 class="container-block-title">Join the Mailing List</h2>
                <ul class="list-unstyled contact-list">

                    <li><i class="fa fa-envelope"></i><a href="https://groups.google.com/forum/#!members/visda-2017-participants">visda-2017-participants@googlegroups.com</a></li>

                </ul>
            </div><!--//contact-container-->

            <div class="profile-container">

                <h2 class="container-block-title">Contact the Organizers</h2>
                <ul class="list-unstyled contact-list">

                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: visda-2017@googlegroups.com">visda-2017@googlegroups.com</a></li>

                </ul>
            </div><!--//contact-container-->
        
            
        </div><!--//sidebar-wrapper-->
