<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
                <h1 class="name">{{site.name}}</h1>
                <h3 class="tagline">{{site.tagline}}</h3>
            </div><!--//profile-container-->
            <div class="education-container container-block" style="background: rgba(0, 0, 50, 0.3);" id='reg'>
                
                <h2 class="container-block-title">Registration</h2>
                <form method="POST" action="http://formspree.io/visda-2017@googlegroups.com">
                  <div class="form-group">
                    <label>Team Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Team Name" />
                  </div>
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" />
                  </div>
                  <div class="form-group">
                    <label>Affiliation</label>
                    <input type="text" class="form-control" name="aff" placeholder="Affiliation" />
                  </div>
                  <div class="form-group">
                    <label>Tentative Track</label>
                    <select class="form-control" name="track">
                      <option>Both</option>
                      <option>Classification</option>
                      <option>Segmentation</option>
                    </select>
                  </div>
                  <input type="hidden" name="_format" value="plain" />
                  <input type="text" name="_gotcha" style="display:none" />
                  <button type="submit" class="btn btn-default">Submit</button>

                </form>

            </div>
            <div class="education-container container-block" id="dates">
            <h2 class="container-block-title">Important Dates</h2>

            <div class="item">
                <h4 class="degree">Registration Starts</h4>
                <h5 class="meta">May 1st</h5>
            </div><!--//item-->
            <div class="item">
                <h4 class="degree">Challenge Starts</h4>
                <!-- <h5 class="meta">(train and valid sets are released)</h5> -->
                <h5 class="meta">June 19th</h5>
            </div><!--//item-->
            <div class="item">
                <h4 class="degree">Final submission</h4>
                <h5 class="meta">September 29th</h5>
            </div><!--//item-->
            <div class="item">
                <h4 class="degree">Winners notification</h4>
                <h5 class="meta">October 13th</h5>
            </div><!--//item-->

            </div><!--//dates-->
            
            <div class="profile-container">

                <h2 class="container-block-title">Contacts</h2>
                <ul class="list-unstyled contact-list">

                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: visda-2017@googlegroups.com">visda-2017@googlegroups.com</a></li>

                </ul>
            </div><!--//contact-container-->
        
            
        </div><!--//sidebar-wrapper-->
